@model IEnumerable<Datenbank.DAL.Pools>
@{
    ViewBag.Title = "Mosaik";
}

<h2>@Html.Raw(ViewBag.Test)</h2>

@using (Html.BeginForm(null, null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
        
        <div class="form-group">
            <input type="hidden" name="basis" value="@Html.Raw(ViewBag.Basis)" />
                <label for="kachelPool">Kachelpool wählen:</label>
                <select class="form-control" id="kachelPool" name="kachelPool">
            @foreach (var item in Model)
            {
                if (item.size > 0)
                {
                    <option value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.name)</option>
                }

            }
                </select>
        </div>
        <div class="form-group">
                <label for="mosaPool">Motivepool wählen</label>
                <select class="form-control" id="mosaPool" name="mosaPool">
            @foreach (var item in Model)
            {
                if (item.size == 0)
                {
                    <option value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.name)</option>
                }

            }
                </select>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label><input type="checkbox" value="" name="multi" id="multi">Kachel öffter nutzen</label>
            </div>
        </div>
        <div class="form-group">
            <label for="bestof">Best of</label>
            <input class="form-control" type="number" name="bestof" min="1" max="5" step="1" id="bestof" value="1"/>
        </div>
        <div class="form-group">
                <input type="submit" value="Erstellen" class="btn btn-success" />
        </div>
}
