@model IEnumerable<Datenbank.DAL.Pools>
@{
    ViewBag.Title = "Mosaik";
}

<h2>Mosaikgenerator</h2>

@using (Html.BeginForm(null, null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
        
        <div class="form-group">
                <label for="kachelPool">Welcher Kachelpool soll genutzt werden?:</label>
                <select class="form-control" id="kachelPool" name="kachelPool">
            @foreach (var item in Model)
            {
                if (item.size > 0)
                {
                    <option value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.name)</option>
                }

            }
                </select>
        </div>
        <div class="form-group">
                <label for="mosaPool">Wo soll gespeichert werden?</label>
                <select class="form-control" id="mosaPool" name="mosaPool">
            @foreach (var item in Model)
            {
                if (item.size == 0)
                {
                    <option value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.name)</option>
                }

            }
                </select>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label><input type="checkbox" checked="checked" value="1" name="multi" id="multi">Sollen Kacheln öfters vorkommen?</label>
            </div>
        </div>
        <div class="form-group">
            <label for="bestof">Aus wievielen der besten Kacheln soll eine zufällige gewählt werden</label>
            <p>
                <strong>Hinweis: </strong>Sollte das beste Mosaikbild entstehen ist eine kleine Zahl besser.<br>
                Je höher desto zufälliger wird das Ergebnis
            </p>

        <input class="form-control" type="number" name="bestof" min="1" max="10" step="1" id="bestof" value="1"/>
        </div>
        <div class="form-group">
                <input type = "submit" value="Erstellen" class="btn btn-success" />
        </div>
}
