@model Datenbank.DAL.Pools

<h2>Bildersammlungen</h2>
</br>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.Hidden("owner", User.Identity.Name)
        @Html.Hidden("writelock", false)

        <div class="form-group">
            <div class="col-md-3">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name der Bildersammlung", @required = "required" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
                <input type="submit" value="Erstellen" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<hr />

@{Html.RenderAction("PoolsList", "Pools", new { isKachelPool = false });}
